*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;

}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2 {
  font-family: 'Poppins', sans-serif;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {


  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #4A4A4A;
}

a {
  text-decoration: none !important;
}

p {
  color: #656565;
  font-weight: 400;
}

.title {
  font-size: 50px;
  color: #4A4A4A;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

}

.main-hd {
  color: #727373;
  font-size: 32px;
  font-weight: 400;
}

.bold-hd {
  color: #656565;
  font-size: 18px;
  font-weight: 700;
}

.navbar {
  background-color: #6675FF;
}

.nav-link {
  color: #fff;
  margin-right: 20px;
}

.nav-item a {
  color: #fff !important;
}

#banner {
  background-color: #EAECFF;
}

.form-control {
  border-radius: 34px;
  border: none;
  padding: 20px !important;
}

.search-btn {
  border-radius: 23px;
  background-color: #6675FF;
  border: none;
  padding: 10px 32px;
  margin-right: 8px;
  margin-top: 9px;
}

#downloader {
  background-color: #6675FF;
}

.download-benifits {
  background-color: white;
  padding: 50px;

  border-radius: 14px;
}

.step-p {
  line-height: 1.6;
}

.download-benifits p {
  color: #5A5A5A;
  font-weight: 600;
}

footer {
  background-color: #6675FF;
}

.footer-nav {
  border-right: 1px solid white;
  height: 25px;
}

footer {
  background-color: #6675FF;
  border: solid;
  border-color: #6675FF;
}

.footer-link {
  margin-top: -7px;

}




#paragraphs .paragraphs {
  column-count: 2;
  column-gap: 32px;
}

h5 {
  color: #727373;
  font-size: 16px;
  font-weight: 600;

}

.paragraphs p {
  color: #727373;
  font-size: 16px;
  line-height: 1.8;

}

.blog-description {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #525252;
}

.auther p {
  color: #B0B0B0;
  font-size: 12px;
  margin-bottom: 0;
}