{% extends 'layout.html' %}
<!-- Tital here -->
    {% block title %}
BLOG
    {% endblock %}

<!-- Custom style here -->
    {% block style %}
<style>
    .blog-list a {
      text-decoration: none;
      list-style: none;

      color: #727373;
      font-size: 15px;
      font-weight: bold;
      margin-top: 10px;
    }

    .blog-list li {
      text-decoration: none;
      list-style: none;


    }

    .blog-list a:active {
      color: #8C49C7 !important;
    }

    .blog-pic img {
      border-radius: 12px;
    }

    hr {
      color: lightgray;
    }

  </style>
    {% endblock %}

<!-- Sub Header here -->
    {% block subhead %}
<section id="blog-banner" style="background-color: #6675FF;">
    <h2 class="title text-center text-light pt-5 pb-4">Blogs</h2>

  </section>
<section id="category" class="mt-4 mb-4">
    <div class="container text-center mb-4 ">
      <ul class="blog-list d-flex justify-content-around justify-content-center">
        <li><a href="">All</a></li>
        <li><a href="">Food</a></li>
        <li><a href="">Lifestye</a></li>
        <li><a href="">Tech</a></li>
        <li><a href="">Travel</a></li>
      </ul>
    </div>
    <hr>
  </section>
    {% endblock %}

<!-- Main Content here -->
    {% block content %}
<section id="blog" class="mt-4">

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="row mt-4">
              {% for x in stmt %}
            <div class="col-lg-4">
          <a href="{{ url_for('blogdetail',blog_id=x[0].id) }}">
                <div class="blog-pic w-100">

                  <img class="img-fluid  w-100" src="https://www.dzinemedia.com/assets/blog_images/{{ x[0].main_img }}" alt="">

                </div>
                <h5 class=" blog-description text-truncate ">{{ x[0].title|safe }}</h5>
                <div class="auther d-flex ">

                  <img class="auther-des " src="/static/images/Iocns/Download Videos.svg" width="26px" height="26px"
                    class="rounded-circle" alt="">

                  <div>
                    <p class="ms-2">{{x[0].author}}</p>
                    <p class="ms-2 mb-4"> <span class="ms-2">4 min read</span></p>

                  </div>
                </div>
          </a>
            </div>
              {% endfor %}

          </div>

        </div>

        <div class="col-lg-3">
          <div
            class="upper-add d-flex justify-content-center align-items-center border border-1 rounded rounded-3 mt-4 p-5 mb-4">
            <h3 class="add-hd">AD</h3>
          </div>


          <div class="recent-post p-3 border mt-4 mb-4 ">
            <p class=" text-center">Recent Post</p>
            <hr>
            <div class="d-flex">
              <img src="/static/images/blog-pic1.jpg" width="91px" height="76" alt="">
              <p class="ps-2">One Pot WondersThe Ultimate Paella January 21, 2021 4 min read</p>
            </div>

          </div>
        </div>
      </div>

    </div>

  </section>
    {% endblock %}

<!-- Custom Script here -->
    {% block script %}

    {% endblock %}