{% extends 'layout.html' %}
<!-- Tital here -->
    {% block title %}
Video Format
    {% endblock %}

<!-- Custom style here -->
    {% block style %}
<style>
    #working-step {
      background-image: url("{{ url_for('static',filename='images/Lines.svg') }}");
      background-repeat: no-repeat;
      background-position: center;

    }

    @media screen and (max-width: 992px) {
      #working-step {
        background-image: none;

      }

    }

    @media screen and (max-width: 576px) {
      .search-btn {
        background-image: none;


      }

    }

    @media screen and (max-width: 576px) {
      .search-btn {
        border-radius: 23px;
        background-color: #6675FF;
        border: none;
        padding: 10px 32px;
        margin-right: 8px;
        margin-top: -18px !important;
        position: relative !important;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

      }

    }

    #myBtn {
      background-image: url("{{ url_for('static',filename='images/Iocns/Arrow.svg') }}");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #7A87FF;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }


    .download-btn {
      background-color: #6675FF;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      color: white !important;
      background-color: #7A87FF !important;
      border-color: #dee2e6 #dee2e6 #fff;
    }

    .tab-btn {
      color: grey !important;
      background-color: #e7e9eb !important;
      margin: 3px;
      text-align: center;
      margin-bottom: 5px !important;





    }
  </style>
    {% endblock %}

<!-- Sub Header here -->
    {% block subhead %}
<section id="banner" class="p-4 pt-5 mb-4 pb-5">
   <h2 class="title text-center mt-4 ">Online Video Download</h2>
   <p class="text-center">Convert and download Facebook videos in MP3, MP4, 3GP for free</p>
   <div class="container">
     <div class="row ">
       <div class="col-md-9 mx-auto">
         <form name="myForm" method="POST" action="{{ url_for('from_format') }}" required>

           <div class="form-group position-relative mt-2 ">
             <div class="position-absolute ps-3 mt-3">


             </div>
             <input type="text" class="form-control mb-4" name="url" value="{{ fburl }}" placeholder="Paste your Video link here...">
               <span class="text-danger px-1">
 {% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
</span>

             <button
               class="text-center search-btn btn-group position-absolute top-0 end-0 d-flex text-light justify-content-center ">
              Download
             </button>
           </div>

         </form>
       </div>
     </div>
   </div>
 </section>
    {% endblock %}

<!-- Main Content here -->
    {% block content %}
<div>
    <h4 class="converter-hd text-center mb-4">Download video as MP4</h4>
{#{{ vidFormat[0]['filesize'] }}#}
  </div>
<section id="coverter">
    <div class="container mb-5">
      <div class="row shadow shadow p-4 rounded rounded-3">
        <div class="col lg-4  ">
          <div class="thumb-box thumb-272  h-75">

              <div class="embed-responsive embed-responsive-16by9 h-100 w-100">
                  <iframe class="embed-responsive-item h-100 w-100" allowfullscreen src="{{ vidFormat[-1]['url'] }}"></iframe>
              </div>

              <div class="d-flex h-auto mt-3 mb-2">
                <h4 class="my-hd mb-2">{{ vidTital }}</h4>

              </div>



              <span class="play-btn"></span>

{#            </a>#}
<!---- link cut --------->
          </div>

        </div>
        <div class="col-lg-7 ">
          <ul class="nav nav-tabs " id="myTab" role="tablist">


            <!-- mp4 tab-btn here -->
{#            <li class="nav-item" role="presentation">#}
{#              <button class="nav-link active tab-btn " id="mp4-tab" data-bs-toggle="tab" data-bs-target="#mp4"#}
{#                type="button" role="tab" aria-controls="mp4" aria-selected="true">MP4</button>#}
{#            </li>#}



          </ul>



          <div class="tab-content" id="myTabContent">





            <div class="tab-pane fade show active" id="mp4" role="tabpanel" aria-labelledby="mp4-tab">

              <table class="table table-bordered text-center">
                <thead>
                  <tr>

                    <th scope="col ">Quality</th>
                    <th scope="col">File Size</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for vf in vidFormat %}

{#                    {% if vf['width']  %}#}
                    {% if vf['ext']=='mp4' %}
                    {% if vf['ext'] != 'm4a' %}
                        <form method="POST" action="{{ url_for('vid_download') }}">
                        <input type="hidden" value="{{ fburl }}" name="fburl">
                        <input type="hidden" value="{{ vidFormat.index(vf) }}" name="vidindex">
                  <tr>

                    <td>{% if not vf['width'] %}Unknown{% else %}{{ vf['width'] }} px{% endif %}</td>
                    <td>{% if not vf['filesize'] %}Unknown{% else %}{{ vf['filesize_approx'] }}{% endif %}</td>
                    <td><button class="btn download-btn text-white">
                        Download

                      </button></td>
                  </tr>
                        </form>
                    {% endif %}
                    {% endif %}
{#                    {% endif %}#}
                {% endfor %}

                </tbody>
              </table>
            </div>




          </div>

        </div>


        <div class="row mt-4">
          <div class="col-12">
            <div class="upper-add d-flex justify-content-center align-items-center border border-2  p-4 mb-5">
              <h3 class="add-hd">AD</h3>
            </div>
          </div>
        </div>

      </div>


    </div>

    </div>

  </section>
<section id="working-step">
   <div class="container pt-5 ">
     <h4 class="main-hd text-center">How it Works</h4>
     <p class="text-center">Get Started with three Simple Steps</p>
     <div class="row step-row text-center mt-5">
       <div class="col-lg-3" style="margin-left: auto !important;margin-right: auto !important; ">
         <div class="icon ">
           <img src="/static/images/step1.svg" alt="">
         </div>
         <h3 class="bold-hd mt-3">Copy your Link</h3>
         <div class="step-icon ">
           <p class=" step-p ">Open Youtube and copy the Youtube video URL you
             want to
             download. </p>

           <div class="inner-icon">
             <!-- inner icon -->
           </div>
         </div>

       </div>


       <div class="col-lg-3" style="margin-left: auto !important;margin-right: auto !important; ">
         <div class="icon ">
           <img src="/static/images/step2.svg" alt="">
         </div>
         <h3 class="bold-hd mt-3">Paste URL</h3>
         <div class="step-icon  ">
           <p class="step-p ">Paste the Youtube video URL in the Search box, Tool will fetch video info.
           </p>

           <div class="inner-icon">
             <!-- inner icon 2 -->
           </div>
         </div>

       </div>
       <div class="col-lg-3" style="margin-left: auto !important;margin-right: auto !important; ">
         <div class="icon">
           <img src="/static/images/step3.svg" alt="">
         </div>
         <h3 class="bold-hd mt-3">Download and enjoy</h3>
         <div class="step-icon">
           <p class="">Select the (Video/Audio) format you need and click the "Download"</p>
         </div>
       </div>
     </div>
   </div>
 </section>
<section id="downloader">
   <h3 class="main-hd text-light text-center p-5">FB Video Downloader</h3>
   <div class="container">
     <div class="row">
       <div class="col-lg-9 mx-auto">
         <div class="row mb-4">
           <div class="col-md-4 mt-3">
             <div class="download-benifits h-100 ">
               <div class="downloader-icon d-flex flex-column justify-content-center   align-items-center">
                 <img src="static/images/Iocns/Fast and easy to use.svg" alt="">
               </div>
               <p class="text-center pt-3">Fast and Easy to Use</p>

             </div>

           </div>
           <div class="col-md-4 mt-3">
             <div class="download-benifits h-100 ">
               <div class="downloader-icon d-flex flex-column justify-content-center   align-items-center">
                 <img src="static/images/Iocns/Without Limitation.svg" alt="">
               </div>
               <p class="text-center pt-3">Without Limitation</p>

             </div>

           </div>
           <div class="col-md-4 mt-3">
             <div class="download-benifits h-100">
               <div class="downloader-icon d-flex flex-column justify-content-center   align-items-center">
                 <svg xmlns="http://www.w3.org/2000/svg" width="108" height="108" viewBox="0 0 108 108">
                   <g id="Group_709" data-name="Group 709" transform="translate(-929 -1137)">
                     <circle id="Ellipse_32" data-name="Ellipse 32" cx="54" cy="54" r="54"
                       transform="translate(929 1137)" fill="#f0fffd" />
                     <g id="safe-box" transform="translate(955 1170)">
                       <circle id="Ellipse_36" data-name="Ellipse 36" cx="2.328" cy="2.328" r="2.328"
                         transform="translate(25.969 14.744)" fill="#57f2de" />
                       <path id="Path_908" data-name="Path 908"
                         d="M121.044,88h-23.9A1.147,1.147,0,0,0,96,89.146v25.208a1.147,1.147,0,0,0,1.146,1.146h23.9a1.147,1.147,0,0,0,1.146-1.146V89.146A1.147,1.147,0,0,0,121.044,88Zm-19.151,20.3a1.31,1.31,0,1,1-2.619,0v-5.238a1.31,1.31,0,0,1,2.619,0Zm7.2-5.238a5.238,5.238,0,1,1,5.238-5.238A5.244,5.244,0,0,1,109.1,103.059Z"
                         transform="translate(-80.798 -80.798)" fill="#57f2de" />
                       <path id="Path_909" data-name="Path 909"
                         d="M452.174,240h-3.765a.409.409,0,0,0-.409.409v1.8a.409.409,0,0,0,.409.409h3.765a.409.409,0,0,0,.409-.409v-1.8A.409.409,0,0,0,452.174,240Z"
                         transform="translate(-403.989 -220.357)" fill="#57f2de" />
                       <path id="Path_910" data-name="Path 910"
                         d="M448.409,163.928h3.765a.409.409,0,0,0,.409-.409v-3.11a.409.409,0,0,0-.409-.409h-3.765a.409.409,0,0,0-.409.409v3.11A.409.409,0,0,0,448.409,163.928Z"
                         transform="translate(-403.989 -146.905)" fill="#57f2de" />
                       <path id="Path_911" data-name="Path 911"
                         d="M44.011,31.837v1.719a3.765,3.765,0,0,1-3.765,3.765h-23.9a3.765,3.765,0,0,1-3.765-3.765V8.348a3.765,3.765,0,0,1,3.765-3.765h23.9a3.765,3.765,0,0,1,3.765,3.765v1.719a.409.409,0,0,0,.409.409h3.765a.409.409,0,0,0,.409-.409v-6.3A3.765,3.765,0,0,0,44.83,0H11.765A3.765,3.765,0,0,0,8,3.765V38.139A3.765,3.765,0,0,0,11.765,41.9H44.83a3.765,3.765,0,0,0,3.765-3.765v-6.3a.409.409,0,0,0-.409-.409H44.421A.409.409,0,0,0,44.011,31.837Z"
                         fill="#57f2de" />
                       <path id="Path_912" data-name="Path 912"
                         d="M452.174,304h-3.765a.409.409,0,0,0-.409.409v3.11a.409.409,0,0,0,.409.409h3.765a.409.409,0,0,0,.409-.409v-3.11A.409.409,0,0,0,452.174,304Z"
                         transform="translate(-403.989 -279.119)" fill="#57f2de" />
                     </g>
                   </g>
                 </svg>
               </div>
               <p class="text-center pt-3">100% Safe and Clean</p>

             </div>

           </div>
           <div class="col-md-4 mt-3">
             <div class="download-benifits h-100">
               <div class="downloader-icon d-flex flex-column justify-content-center   align-items-center">
                 <img src="static/images/Iocns/All Modern Platforms.svg" alt="">
               </div>
               <p class="text-center pt-3">All Modern Platforms Supported</p>

             </div>

           </div>
           <div class="col-md-4 mt-3">
             <div class="download-benifits h-100">
               <div class="downloader-icon d-flex flex-column justify-content-center   align-items-center">
                 <img src="static/images/Iocns/Multiple File Formats.svg" alt="">
               </div>
               <p class="text-center pt-3">Multiple File Formats</p>

             </div>

           </div>
           <div class="col-md-4 mt-3">
             <div class="download-benifits h-100 ">
               <div class="downloader-icon d-flex flex-column justify-content-center   align-items-center">
                 <img src="static/images/Iocns/Download Videos.svg" alt="">
               </div>
               <p class="text-center  pt-3">Download Videos Online!</p>

             </div>

           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
<section id="paragraphs" class="mt-5">
    <div class="container py-40">
      <div class="row">
        <div class="col-9 mx-auto">
          <div class="paragraphs">
            <h5>Free online Facebook video downloader</h5>
            <p>FBVIDEODOWNLOADER is one of the best tools available online for convert videos from Facebook to mp4
              (video) or mp3
              (audio) files and download them for free - this service works for computers, tablets and mobile devices.
            </p>

            <p>
              All you need to do is to enter the URL in the text box provided and use the button labeled "Download" to
              download
              the video in the available format.
            </p>
            <p>
              The usage of our website is free and does not require any software or registration.

            </p>
            Have fun and enjoy the use of our website.
            <h5>How to use Facebook downloader?</h5>
            <ul>
              <li>1) Copy FB Video URL</li>
              <li>2) Paste the URL in a field above</li>
              <li>3) Click "Download" button to Save FB video</li>
            </ul>

            <h5>How do I use Facebook Video Downloader Chrome Extension?</h5>
            <p>
              Go to the specific page on Facebook that contains the video file you want.
            </p>
            <p>
              When you get to the page, you will see a "Download" button. You'll need to click it. You'll be
              automatically taken
              back to the download page where you can save the video.
            </p>
            <h5>Where are Facebook videos saved after being downloaded?
            </h5>
            <p>
              When you're downloading files, they are usually saved into whatever folder you have set as your default.
              Your browser
              normally sets this folder for you. In browser settings you can change and choose manually the destination
              folder for
              your downloded facebook videos.
            </p>
            <h5>Can I download Live Facebook videos?
            </h5>
            <p>
              Once streaming is done, you can easily save live FB videos to your device using FBVIDEODOWNLOADER Facebook
              video
              Downloader chrome extension.
            </p>
            <h5>Does Getfvid store downloaded videos or keep a copy of videos?
            </h5>
            <p>
              Getfvid doesn't store videos. Neither do we keep copies of downloaded videos. All videos are hosted on
              Facebook's
              servers. Also, we don't keep track of the download histories of our users, thus making using Getfvid
              totally
              anonymous.
            </p>




          </div>
        </div>
      </div>


    </div>


  </section>
<section id="blogs" class="mt-4">
    <h3 class="main-hd text-center">blogs</h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div class="row">
              {% for x in stmt %}

            <div class="col-lg-4">
            <a href="{{ url_for('blogdetail',blog_id=x[0].id) }}">
              <div class="blog-pic w-100">
                <img class="img-fluid" src="https://www.dzinemedia.com/assets/blog_images/{{ x[0].main_img }}" alt="">
              </div>
              <h5 class=" blog-description text-truncate ">{{ x[0].title|safe }}</h5>
              <div class="auther d-flex ">
                <img class="auther-des" src="static/images/Iocns/Download Videos.svg" width="26px" height="26px"
                  class="rounded-circle" alt="">
                <div>
                  <p class="ms-2">{{x[0].author}}</p>
                  <p class="ms-2 mb-4">{{ x[0].last_update_date }} <span class="ms-2">4 min read</span></p>

                </div>
              </div>
            </a>
            </div>
              {% endfor %}
{#            <div class="col-lg-4">#}
{#              <div class="blog-pic w-100">#}
{#                <img class="img-fluid" src="static/images/blog-pic2.png" alt="">#}
{#              </div>#}
{#              <h5 class=" blog-description text-truncate ">Technology Outcomes From person to his Health</h5>#}
{#              <div class="auther d-flex ">#}
{#                <img class="auther-des" src="static/images/Iocns/Download Videos.svg" width="26px" height="26px"#}
{#                  class="rounded-circle" alt="">#}
{#                <div>#}
{#                  <p class="ms-2">Axilthemes</p>#}
{#                  <p class="ms-2 mb-4">January 21, 2021 <span class="ms-2">4 min read</span></p>#}
{##}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-lg-4">#}
{#              <div class="blog-pic w-100">#}
{#                <img class="img-fluid" src="static/images/blog-pic2.png" alt="">#}
{#              </div>#}
{#              <h5 class="blog-description text-truncate ">One Pot WondersThe Ultimate Paella</h5>#}
{#              <div class="auther d-flex ">#}
{#                <img class="auther-des" src="static/images/Iocns/Download Videos.svg" width="26px" height="26px"#}
{#                  class="rounded-circle" alt="">#}
{#                <div>#}
{#                  <p class="ms-2">Axilthemes</p>#}
{#                  <p class="ms-2 mb4">January 21, 2021 <span class="ms-2">4 min read</span></p>#}
{##}
{#                </div>#}
{#              </div>#}
{#            </div>#}
          </div>

        </div>
      </div>
    </div>
  </section>
    {% endblock %}

<!-- Custom Script here -->
    {% block script %}

    {% endblock %}