{% extends 'layout.html' %}
<!-- Tital here -->
    {% block title %}
        {{ error_name }}

    {% endblock %}

<!-- Custom style here -->
{% block style %}

{% endblock %}

<!-- Sub Header here -->
{% block subhead %}

{% endblock %}

<!-- Main Content here -->
{% block content %}
<section id="accordion">
    <div class="container mt-5">
      <div class="row">
        <div class="col-8 mx-auto">
          <div class="row text-center">
              <div class="">
                  <h3>Error: {{ error_code }}</h3>
                  <img class="img-fluid" src="{{ url_for('static',filename='images/warning.svg') }}" alt="" height="216" width="265">
              </div>
              <div>
                  <h4 class="py-2 fw-bold" style="color:#6675ff;">{{error_name}}</h4>
                  <p class="text-secondary">{{ error_description }}</p>
              </div>
              <div>
{#                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">#}
{#                  <li class="nav-item">#}
              <a href="{{ url_for('home') }}" class="btn bg-light" style="color:#ffffff !important; background-color:#6675ff !important;">
                Go back to Home
              </a>
{#            </li>#}
{#                  </ul>#}
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

<!-- Custom Script here -->
{% block script %}

{% endblock %}