{% extends 'layout.html' %}
<!-- Tital here -->
    {% block title %}
        FAQ
    {% endblock %}

<!-- Custom style here -->
{% block style %}
<style>
    header {
      background-color: #6675FF;
    }

    .accordion-item {
      margin: 15px;
      border: 1.75px solid #DBDBDB !important;
      padding: 1px;
      border-radius: 8px !important;
      align-items: center;
      background-color: white;


    }

    .accordion-button:focus {
      z-index: none !important;
      border-color: white !important;
      outline: 0;
      box-shadow: none !important;
    }

    .accordion-button:not(.collapsed) {
      color: #4F4F4F;
      background-color: white !important;
      box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }

    .accordion p {
      font-weight: bold;


    }

    .accordion-button:not(.collapsed)::after {
      background-image: url("{{ url_for('static',filename='images/minus.svg') }}");
      transform: rotate(-180deg);
    }

    .accordion-button::after {
      flex-shrink: 0;
      width: 1.25rem;
      height: 1.25rem;
      margin-left: auto;
      content: "";
      background-image: url("{{ url_for('static',filename='images/plus.svg') }}");
      background-repeat: no-repeat;
      background-size: 1.25rem;
      transition: transform .2s ease-in-out;
    }

    .accordion-button p {
      margin-bottom: 0px !important;
    }
  </style>
{% endblock %}

<!-- Sub Header here -->
{% block subhead %}
<section id="home-banner" class=" pb-lg-0">
      <h1 class="title text-light text-center mt-5 ">
        Terms of Services <br>
        <p class="text-light p-3" style="font-size:24px ;">Our Terms and Conditions</p>
      </h1>


    </section>
{% endblock %}

<!-- Main Content here -->
{% block content %}
<div style="min-height: 144px;"></div>
{% endblock %}

<!-- Custom Script here -->
{% block script %}

{% endblock %}